.inoutlist {
    display: flex;
    flex-direction: column;
     /* 일정 height 이상이면 스크롤 표시 */
    overflow-y: scroll; /* 스크롤 표시를 위해 */
    height:calc(100vh - 450px);
    width: 100%;
    white-space: nowrap;
}

.items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    background-color: #f8f8f8;
    width: 100%;
    max-height:100%;
}

.category {
    flex: 1;
    font-weight: bold;
}

.description {
    flex: 2;
}

.amountM {
    flex: 1;
    font-weight: bold;
    color:red;
}
.amountP{
    flex: 1;
    font-weight: bold;
    color: blue;
}

.deleteBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: red;
}
